@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime');

@font-face {
    font-family: "klartext_mono";
    src: url("CSS/Fonts/klartext_mono.eot") format("eot");
    src: url("CSS/Fonts/klartext_mono.ttf") format("ttf"),
    url("CSS/Fonts/klartext_mono.woff") format("woff"),
    url("CSS/Fonts/klartext_mono.woff2") format("woff2"),
    url("CSS/Fonts/klartext_mono.svg#filmename") format("svg");
    }

:root {
    --background: white;
    --neutral-10: hsl(0, 0%, 13%);
    --neutral-9: hsl(0, 0%, 23%);
    --neutral-8: hsl(0, 0%, 32%);
    --neutral-7: hsl(0, 0%, 38%);
    --neutral-6: hsl(0, 0%, 49%);
    --neutral-5: hsl(0, 0%, 62%);
    --neutral-4: hsl(0, 0%, 69%);
    --neutral-3: hsl(0, 0%, 81%);
    --neutral-2: hsl(0, 0%, 88%);
    --neutral-1: hsl(0, 0%, 97%);
}

html {
    font-size: 10px;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 1.6rem;
    margin:0;
    padding:0;
    color:var(--neutral-9);
    background:var(--background);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: var(--neutral-9);
}

h1 {
    font-size:4rem;
}

h2 {
    font-size:3rem;
}

h2 {
    font-size:2.6rem;
}

ul {
    margin:0;
    padding:0;
}

a {
    color:var(--neutral-8);
    transition: 0.7s;
}

a:hover {
    color:var(--neutral-10);
    transition: 0.7s;
}

img {
    max-width: 100%;
    margin-bottom: 3rem;
}

main {
    margin-top: 10rem;
    position: relative;
    display: grid;
    grid-gap: 10rem;
    grid-template-columns: 18vw repeat(8, 1fr);
}




/* Navigation */



nav {
    font-family: 'Courier Prime';
    text-align: right;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 15vw;
    height: 100%;
    max-height: 35vh;
    margin-top: 5rem;
}

.main-nav {
    list-style: none;
}

.main-nav li {
    line-height: 1.6;
}

nav a {
    text-decoration: none;
    color:var(--neutral-6);
    font-weight: regular;
}

nav a.active {
    text-decoration: none;
    color:var(--neutral-10)
}

nav  .logo {
    max-width: 7rem;
    margin-right: -1.5rem;    
    margin-bottom: -5rem;
}

.social svg {
    max-width: 2rem;
    margin: .5rem;
    fill:var(--neutral-7);
    transition: 0.7s;
}

.social svg:hover {
    fill:var(--neutral-10);
    transition: 0.7s;
}



.social {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
}

/* Main content */

article {
    margin-right: 5rem;
    background: white;
    grid-column-start: 2;
    grid-column-end: 8;
}

article p {
    font-family : 'klartext_mono';
    display: block;
    margin: 1rem 0 5rem;
    font-size: 1.8rem;
}

article picture {
    padding:0;
    margin:1rem 0;
}

article picture:hover {
    filter: saturate(200%);
    transition: .25s;
}

/* A propos */

article picturepropos {
    padding:0;
    margin:1rem 0;
    display: flex;
    justify-content: center;

}

article picturepropos:hover {
    filter: saturate(200%);
    transition: .25s;
    display: flex;
    justify-content: center;

}


articleprop propos {
    max-width: 35rem;
    display : block;
    margin: 1rem 0;
    font-size: 1.8rem;
    text-align: justify;
    
}

articleprop {
    margin-right: 5rem;
    background: white;
    grid-column-start: 2;
    grid-column-end: 8;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* footer */

footer {
    grid-column-start: 2;
    grid-column-end: 8;
    margin-bottom: 4rem;
    margin-right: 5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

footer ul {
    margin:0;
    list-style-type: none;
}

footer li {
    display: inline;
    margin-right: 1rem;
}


@media (max-width:768px) {
    main {
        display:block;
        margin:0;
    }
    nav {
        position: relative;
        display:flex;
        flex-flow: row nowrap;
        width:100%;
        height: auto;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 5rem;
        padding:.5rem;
        margin-right: 0;
    }

    .social {
        padding:.5rem;
    }

    .social svg {
        width:2rem;
    }

    .main-nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
        text-align: center;
        margin:0 1rem;
        padding: 0.5rem;
    }

    .main-nav li {
        margin:0 0.5rem;
    }

    article {
        margin-top:0;
    }


    article p,
    article h1,
    article h2,
    article h3,
    article h4,
    article h5,
    article h6 {
        padding:1rem;
    }

    footer {
        padding: 1rem;
    }
}